/* header */
.poker-layout > header{
    position: sticky;
    top: 0;
    background-image: radial-gradient(circle,#f26751ff 0%,#F45C43ff 35%, #EB3349 100%);
    z-index: 99;
    box-shadow: 2px 1px #0004;
}

.poker-layout > header > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    height: 64px;
}

.back-button{
    font-size: 40px;
    line-height: .6em;
    font-weight: bold;
    text-decoration: none;
    color: white!important;
    width: 64px;
    height: 32px;
    overflow: hidden;
    border-radius: 2px;
    border: solid 1px #ddd;
    border-radius: 6px;
    text-align: center;
}


.logout-button > label{
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.logout-button > label > button{
    display: flex;
    border: none;
    width: 42px;
    height: 32px;
    border-radius: 22px;
    color: white;
    font-size: 22px;
    line-height: .7em;
    background-color: rgba(255, 255, 255, 0.232);
}


/* aside */
.poker-layout > aside{
    position: fixed;
    top: 64px;
    right: 0;
    width: 320px;
    height: calc(100vh - 64px);
    z-index: 99;
    box-shadow: -1px 2px 8px #0005;
    background-color: white;
    margin-right: -256px;
    transition: all .2s cubic-bezier(0.19, 1, 0.22, 1);
    padding-bottom: calc(2rem + 64px);
}

.poker-layout > aside.aside-open{
    margin-right: 0;
}


.poker-layout > aside > :nth-child(1){
    z-index: 1;
}

.poker-layout > aside > button.aside-float-button{
    position: absolute;
    bottom: 1rem;
    left: -32px;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background-image: radial-gradient(circle,#f26751ff 0%,#F45C43ff 35%, #EB3349 100%);
    z-index: -1;
}


/* main */

.poker-layout > main{
    display: grid;
    grid-template-columns: 1fr ;
    margin-top: 64px;
    gap: 16px;
    grid-template-areas: 'main';

}   


.poker-layout > main > div{
    grid-area: main;

}   


.users-list > ul{
    padding: 0;
}

.users-list > ul > li{
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 2px;
    font-size: 16px;
}

/* chat */

.chat-container{
    height: 560px;
    display: flex;
    flex-direction: column;
}

.chat-container > ul{
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-radius: 6px;
    padding: 4px;
    border: solid 2px red;
    border: solid 1px #ddd;
}

.chat-container form {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    margin-top: auto;

}

.chat-container form > label{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.chat-container form input{
    height: 36px;
    width: 100%;
}

.message-container{
    max-width: 100%;
    padding: 0 6px;
    font-size: 14px;
    text-decoration: none;
    width: fit-content;
    min-width: 100%;
    word-wrap: break-word;
    border-bottom: dashed 1px #ddd;
}

.message-container > span:nth-child(1){
    color: #888;
    color: #720520;;
    font-size: 10px;
    line-height: 10px;
}

@media screen and (max-width: 1024px) {
    .poker-layout > main{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 'main' 'aside';

    }   
}
.task-list {
    gap: 12px;
    display: flex;
    flex-direction: column;
    padding: 12px 0;
}

.new-task-form > fieldset{
    display: flex;
    flex-direction: row;
    gap: 4px;
}
.new-task-form textarea{
    width: 100%;
}


/* puncation form */

.punctation-form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

/* cards */
.cards-table{
    width: calc(100%);
    overflow: hidden;
    perspective: 999px;
    padding: 0 10%;
 
}

.cards-table.block{
  position: relative;
}

.cards-table.block::after{
    content: "Aguarde";
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
}
.cards-table > ul{
    width: 100%;
    max-width: 756px;
    margin: auto;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    transform: rotateX(15deg);
    padding: 32px;
    border-radius: 12px;
    border: dashed 1px #ddd;
    background-color: rgba(92, 22, 68, 0.5);
    min-height: 300px;
}

.cards-table > ul > li{
    position: relative;
    width: 20%;
    height: 0;
    padding-bottom: 25%;
    cursor: pointer;
    transition: all .1s;
}



.cards-table > ul > li:hover{
    transform: translateY(-10px);
    box-shadow: 0px 8px 2px #0003;
}


.table-card{
    content: "";
    border: dashed 2px #ddd;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}


.table-card.filled{
    background-color: white;
    border: solid 1px #ddd;
}

.table-card > span{
    font-size: 2.5em;
}

.table-card.filled::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: solid 2px #720520;
    height:  calc(100% - 16px);
    width: calc(100% - 16px);
    border-radius: 8px;
}


.cards-table.block li{
    content: "";
    animation: rollUp .6s; 
    transition: all .5s;
}


.table-card.selected{
    box-shadow: 0px 8px 2px #0003;
    outline: solid 3px rgb(8, 63, 243, .3);
    filter: brightness(1.1);
}

@keyframes rollUp {
    0% {

    }

    100% {
        transform: rotateY(180deg);
    }
}